<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationControllerServlet</servlet-name>
        <servlet-class>onlineQuiz_Controller.RegistrationControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControllerServlet</servlet-name>
        <servlet-class>onlineQuiz_Controller.LoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminOptionServlet</servlet-name>
        <servlet-class>onlineQuiz_Controller.AdminOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOptionServlet</servlet-name>
        <servlet-class>onlineQuiz_Controller.UserOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setQuestionsServlet</servlet-name>
        <servlet-class>onlineQuiz_Controller.setQuestionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationControllerServlet</servlet-name>
        <url-pattern>/RegistrationControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControllerServlet</servlet-name>
        <url-pattern>/LoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminOptionServlet</servlet-name>
        <url-pattern>/AdminOptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOptionServlet</servlet-name>
        <url-pattern>/UserOptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setQuestionsServlet</servlet-name>
        <url-pattern>/setQuestionsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
